<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <img src="<%= data.img %>" alt="">
    
    <h1>

        <%= data.title %>

    </h1>
    <p> <%= data.description %> </p>
    <% for(let post of data.posts) { %>
        <article>
            <p><%= post.title %> - <%= post.author %></p>
        </article>
    <% } %>

</body>
</html>